.flag {
  /* height: 30px; */
}

.top {
  height: 200px !important;
}

.row {
  padding: 10px;
}

.round {
  border-radius: 5px;
}

.round-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

h3 {
  margin: 0.3em !important;
}
